*,
*:after,
*:before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background: #2c2c2c;
  color: #f0f0f0;
  font-family: 'robotolight', sans-serif;
  letter-spacing: 1px;
}

.logo {
  display: block;
  width: 500px;
  height: 93px;
  background: url(../img/logo.png) no-repeat center;
  margin: 100px auto;
  text-indent: -9999px;
}


.uploader {
  display: block;
  width: 650px;
  height: 200px;
  padding: 30px 0;
  border: 3px solid #f0f0f0;
  border-radius: 50px;
  margin: auto;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.loaderbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #f0f0f0;
  z-index: 1000;
}
.cursorwrap {
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 650px;
  height: 200px;
  cursor: pointer;
  pointer-events: none;
  z-index: 100;
}
.sonos-rooms {
  width: 650px;
  margin: 20px auto;
}
.room-list {
  width: 60px;
}
.search {
  color: #2c2c2c;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 40px;
  padding: 0 0 0 40px;
  margin: 0 auto 30px;
  background: #f0f0f0 url(../img/search.svg) no-repeat left center;
  background-size: 40px 20px;
  position: relative;
}

.search:focus {
  outline: none;
}
.list {
  width: 650px;
  margin: 30px auto 0;
}
.songs {
  list-style: none;
  padding: 0;
}
.song {
  padding: 4px 0;
}
.song a {
  text-decoration: none;
  color: #f0f0f0;
  position: relative;
}
.song a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -4px;
  left: 0px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}
.song a:hover:before {
  visibility: visible;
  width: 100%;
}
.icon {
  display: block;
  margin: auto;
  cursor: pointer;
  background: url(../img/icon.png) no-repeat center 30%;
  text-indent: -9999px;
  position: absolute !important;
  left: -3px;
  top: -3px;
}
.text {
  font-size: 24px;
  display: block;
  text-align: center;
  line-height: 60px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}





.wrapper-dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 300px;
    padding: 10px;
    margin: 0 auto;

    /* Styles */
    background: #f0f0f0;
    color: #2c2c2c;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}
.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #2c2c2c;
}
.wrapper-dropdown-1 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0; /* Size */
    right: 0; /* Size */

    /* Styles */
    background: #fff;
    font-weight: normal; /* Overwrites previous font-weight: bold; */

    /* Hiding */
    opacity: 0;
    pointer-events: none;

    padding: 0;
    list-style: none;

    margin: 0;
    z-index: 2;

}
.wrapper-dropdown-1 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #2c2c2c;
    padding: 10px 20px;
}

/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
    background: #e9e9e9;
}
/* Active state */
.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-1.active:after {
    border-color: #2c2c2c transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.wrapper-dropdown-1.active {
  background: #f0f0f0;
}

.debug-footer {
  position: fixed;
  bottom: 7px;
  right: 7px;
  font-size: 10px;
}